p{color: rgb(122, 56, 56); font-size: 20px;}
body{background-color: rgb(33, 33, 33);}
#name{color: rgb(103, 150, 56);}
#films{color: rgb(103, 150, 56);}
.films2{color: rgb(124, 126, 26);}
/*{font-size: 20px;}*/